body {
  background-color: #DFD3C3;
  font-family: 'Shantell Sans', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTwo {
  display: flex;
  justify-content: space-around;
}

p {
  width: 800px;
  text-align: justify;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #F8EDE3;
  color: #85586F;
  font-family: 'Shantell Sans', cursive;
  text-transform: uppercase;
  font-weight: bold;
}

.btnShow {
  font-family: 'Shantell Sans', cursive;
  border: none;
  color: #85586F;
  background-color: #DFD3C3;
} 